/* body {
    background-color: rgba(219, 225, 202, 1);
} */

mat-form-field {
    width: 100%;
}

.add_button {
    position: fixed;
    top: 80px;
    right: 20px;
}

.img-task {
    width: 100px;
    height: 100px;
}

.demo-table {
    width: 100%;
}

.mat-column-demo-position {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}

.mat-column-demo-name {
    padding-left: 16px;
    font-size: 20px;
}

.mat-column-demo-weight {
    font-style: italic;
}

.mat-column-demo-symbol {
    width: 32px;
    text-align: center;
    font-weight: bold;
}